@import url("/Pages/Rules/rules.css");
@import url("/Pages/Quiz/quiz.css");
@import url("/Pages/Questions/question.css");
@import url("/Pages/Result/result.css");

:root {
  --Hover_Color: #16181d;

  --padding: 1rem;
  --margin: 1rem;

  --Regular_Radius: 5px;
  --Poppins_Font: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--Poppins_Font);
  background-color: var(--Body_Bg_Color);
  color: var(--Color_White);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.regular-text {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}
.right-answer {
  background-color: var(--Color_Success_500);
}
.wrong-answer{
  background-color: var(--Color_Danger_500);
}
