body {
  background-color: var(--Body_Bg_Color);
}

.rules-grid {
  display: grid;
  padding: var(--padding);
  grid-template-columns: repeat(1, minmax(1rem, 25rem));
  justify-content: center;
}
.rules-container {
  border-radius: var(--Regular_Radius);
  padding: var(--padding);
  background-color: var(--Secondary_Bg_Color);
}
.rules-header {
  color: var(--Primary_Color);
}
.rules-list {
  list-style: none;
  padding: 0;
}
.rule {
  margin-bottom: var(--margin);
}
